#root .jumbotron {
    background-color: #fafaee;
}

.parall-right {
    max-width: 30%;
    display: inline-block;
}

.content-container {
    display: inline-block;
    max-width: 60%;
    background-color: rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.content-container p {
    padding: 0 5% 0 5%;
    text-align: justify;
}

.content-container.free {
    padding: 0 0 0 2%;
    display: inline-block;
    max-width: 45%;
}

.parall-left {
    display: inline-block;
    max-width: 45%;
}

@media (max-width: 767px) {
    .parall-right, .parall-left {
        display: none;
    }

    .content-container, .content-container.free {
        min-width: 100%;
        max-width: 100%;
    }

    .content-container h1 {
        text-align: center;
    }
}