#root .jumbotron {
    background-color: #fafaee;
}

.parall-right {
    max-width: 30%;
    display: inline-block;
}

.content-container {
    display: inline-block;
    max-width: 60%;
    background-color: rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.content-container p {
    padding: 0 5% 0 5%;
    text-align: justify;
}

.content-container.free {
    padding: 0 0 0 2%;
    display: inline-block;
    max-width: 45%;
}

.parall-left div.parallax-inner {
    display: inline-block;
}